extends layout

block content
  div.heading.container
    h1=title
    p Please select the answer that best describes how you feel about each statement.
    form(action="/quiz", method="POST")
      each question in questions
        .question
          section
            h3= question.content
            legend
            .radio-group
              label(for=`question_${question.questionId}_1`)
                input(type='radio' name=`question_${question.questionId}` value='1' onclick=`makeChoice(-2, ${question.trainId}, ${question.isPositive})`, required)
                | Disagree
              label(for=`question_${question.questionId}_2`)
                input(type='radio' name=`question_${question.questionId}` value='2' onclick=`makeChoice(-1, ${question.trainId}, ${question.isPositive})`, required)
                span
              label(for=`question_${question.questionId}_3`)
                input(type='radio' name=`question_${question.questionId}` value='3' onclick=`makeChoice(0, ${question.trainId}, ${question.isPositive})`, required)
                span
              label(for=`question_${question.questionId}_4`)
                input(type='radio' name=`question_${question.questionId}` value='4' onclick=`makeChoice(1, ${question.trainId}, ${question.isPositive})`, required)
                span
              label(for=`question_${question.questionId}_5`)
                input(type='radio' name=`question_${question.questionId}` value='5' onclick=`makeChoice(2, ${question.trainId}, ${question.isPositive})`, required)
                | Agree
      input(type="submit", value="Submit Quiz", class="submit-button" onclick=`getResult(${questions.length})`)
      script 
        include ../dist/public/typescripts/test.js
